[submodule "third_party/json-rpc-cxx"]
	path = third_party/json-rpc-cxx
	url = https://github.com/jsonrpcx/json-rpc-cxx
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
	branch = 12.1.0
[submodule "third_party/glaze"]
	path = third_party/glaze
	url = https://github.com/stephenberry/glaze
	branch = v6.0.3
[submodule "third_party/simdutf"]
	path = third_party/simdutf
	url = https://github.com/simdutf/simdutf
	branch = v7.5.0
